/**
 * Polaroid layout
 */

@import "compass";
@import "../config";
@import "../lib/m.breakpoints";

// BORDERS
$border-title-value: $border-title + $border;


// Polaroid
.polaroid {
  position: relative;
  @include inline-block;
  z-index: $z-index-polaroid;

  width: 100%;
  height: auto;
  margin: $margin-small;
  padding: $border $border $border-title-value $border;

  background-color: $color;
  cursor: pointer;

  @include transition(transform .4s);
  @include box-shadow(0 5px 20px rgba(black, .2));

  @include at-small  { width: $size-small; margin: $margin-small; }
  @include at-medium { width: $size-medium; margin: $margin-medium; }
  @include at-large  { width: $size-large; margin: $margin-large; }
}

// Image
.polaroid{
  .image{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: all;
  }

  img {
    display: block;
    width: 100%;
    height: auto;

    @include transition(transform .2s);
  }
}


.polaroid:not(.active):hover{
  img{
    @include transform(scale(1.6));
    @include filter(blur(4px));
  }
}

.polaroid.active{
  z-index: $z-index-polaroid-active;
  @include transform(scale(2));
}