<div class="btn-group">
  <%= link_to 'Home','#/home', class:'btn btn-default' %>
  <%= link_to 'Team','#/team', class:'btn btn-default' %>
  <%= link_to 'Contact','#/contact', class:'btn btn-default' %>
</div>