// Content

.content {
  position: absolute;
  top: 25%;
  left: 0;

  width: 100%;
  padding: 15px;
  overflow: hidden;

  @include at-xsmall {
    top: 0;
  }

  @include at-small {
    top: 25%;
  }
}
