// https://coolors.co/app/6e5a4d-dec4a1-f7898f-8da1b9-a9ddd6
$colors: #6e5a4d #dec4a1 #f7898f #8da1b9 #a9ddd6;
$assets: 'https://raw.githubusercontent.com/unavezfui/welcome/gh-pages/img';

$color-primary: #a9ddd6;

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

$speed: .4s;
$anima-type: ease-in-out;

$cols: 3;
$col: 100%/$cols;
$col-open: 50%;
$col-close: (100% - $col-open) / ($cols - 1);

body {
  font-family: Arial;
}
