<h1>Simple AngularJS Route Test</h1>

<div class="btn-group">
  <a class="btn btn-default" href="#/home">Home</a>
  <a class="btn btn-default" href="#/about">About</a>
  <a class="btn btn-default" href="#/contact">Contact</a>
</div>