*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee; }

body {
  font-family: Arial; }

.logo {
  width: 160px;
  height: 160px;
  margin: 2em auto;
  border-radius: 50%;
  overflow: hidden; }
  .logo img {
    width: 100%; }

.social a {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  color: #777;
  font-size: 22px; }
  .social a:hover {
    color: #a9ddd6; }

@media (min-width: 768px) {
  .wrap {
    display: table;
    overflow: hidden; } }

.col {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background: #eee center no-repeat;
  background-size: auto 100%;
  transition: all 0.4s ease-in-out; }
  @media (min-width: 768px) {
    .col {
      display: table-cell;
      width: 33.33333%; } }
  .col:hover {
    background-size: auto 104%; }

.content {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  padding: 15px;
  overflow: hidden; }

.col-1 {
  padding: 2em;
  background-color: #fff;
  text-align: center;
  color: #555; }

.col-2 {
  background-image: url("https://raw.githubusercontent.com/unavezfui/welcome/gh-pages/img/oscar-keys-photo.jpg"); }

.col-3 {
  background-image: url("https://raw.githubusercontent.com/unavezfui/welcome/gh-pages/img/photo-1447078806655-40579c2520d6.jpg"); }

@media (min-width: 768px) {
  .close {
    width: 25%; } }

@media (min-width: 768px) {
  .open {
    width: 50%; } }
