// CONFIGURATION

$brand-font:              'Arial', sans-serif;
$brand-color:             #EEE;
$fa-font-path:            'FontAwesome/';

//  # # # # # # # # # #
//  #                 #
//  #                 #
//  #                 #
//  #    POLAROIDS    #
//  #                 #
//  #                 #
//  #                 #
//  # # # # # # # # # #

$color:                     white;  // white default

$size-small:                46%;
$size-medium:               30%;
$size-large:                23%;

$margin-small:              2%;
$margin-medium:             1.6%;
$margin-large:              1%;

$border:                    15px;


$border-title:              30px;   // title's playholder (min 40px to show it)
$develop-time:              0s;

// z-index
$z-index-navbar:            20;
$z-index-modal:             10;
$z-index-loading:           11;
$z-index-polaroid:          1;
$z-index-polaroid-active:   11;     // over modal
$z-index-caption:           1;
$z-index-polaroid-close:    2;